@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Power Plant Czarnobyl<br />
    Ukraine, Katastrofalna 1986<br />
    <abbr title="Phone">P:</abbr>
    694 932 881
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ddunst7@gmail.com">ddunst7@gmail.com</a><br />
</address>