@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Power Plant Czarnobyl</h1>
    <p class="lead">Welcome to site created for manage the power plant</p>
    <p><a href="https://pl.wikipedia.org/wiki/Czarnobylska_Elektrownia_J%C4%85drowa" class="btn btn-primary btn-lg">Learn more about Power Plant Czarnobyl&raquo;</a></p>
</div>

