@model IEnumerable<PowerPlantCzarnobyl.Domain.Models.Member>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Login</th>
        <th>Role</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Login
            </td>
            <td>
                @item.Role
            </td>
            <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Details", "Details", new {  Login=item.Login  })
                    @*@Html.ActionLink("Delete", "Delete", new {  Login = item.PrimaryKey  })*@
            </td>
        </tr>
    }

</table>
