<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<system.serviceModel>
		<client>
			<endpoint
				address="http://localhost:1992/PowerPlantCzarnobyl/Members"
				binding="wsHttpBinding"
				contract="PowerPlantCzarnobyl.Wcf.ServiceDefinitions.IMemberManagementService">
			</endpoint>
			<endpoint
				address="http://localhost:1992/PowerPlantCzarnobyl/ReceivedData"
				binding="wsHttpBinding"
				contract="PowerPlantCzarnobyl.Wcf.ServiceDefinitions.IReceivedDataManagementService">
			</endpoint>
			<endpoint
				address="http://localhost:1992/PowerPlantCzarnobyl/Errors"
				binding="wsHttpBinding"
				contract="PowerPlantCzarnobyl.Wcf.ServiceDefinitions.IErrorManagementService">
			</endpoint>
			<endpoint
				address="http://localhost:1992/PowerPlantCzarnobyl/Inspections"
				binding="wsHttpBinding"
				contract="PowerPlantCzarnobyl.Wcf.ServiceDefinitions.IInspectionManagementService">
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>